* {
    box-sizing: border-box;
    margin: 0
}

body {
  background: linear-gradient(135deg, rgba(25,28,64,1) 0%, rgba(64,68,114,1) 66%, rgba(92,95,124,1) 100%);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
